.navbar {
  background-color: #ffffff; /* White background for the navbar */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar.scrolled {
  background-color: #007bff; /* Change color when scrolled */
}

.nav-link {
  color: #495057; /* Dark link color */
  font-weight: 500; /* Medium weight for text */
}

.nav-link:hover {
  color: #007bff;
  cursor: pointer; /* Change color on hover */
}

.shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Make the navbar sticky */
.fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
}
