<div class="max-w-6xl mx-auto p-6">
  <h2 class="text-3xl font-bold text-center my-6 text-gray-800">
    Nurse Details
  </h2>

  <div *ngIf="nurse" class="bg-white rounded-lg shadow-md p-6">
    <div class="flex justify-center mb-6">
      <img
        *ngIf="nurse.nurseImgBase64"
        [src]="'data:image/png;base64,' + nurse.nurseImgBase64"
        alt="Nurse Image"
        class="w-32 h-32 rounded-full border-2 border-gray-200"
      />
    </div>
    <form class="space-y-4">
      <div>
        <label for="name" class="block text-sm font-semibold text-gray-700"
          >Name:</label
        >
        <input
          type="text"
          id="name"
          [(ngModel)]="nurse.name"
          name="name"
          disabled
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        />
      </div>

      <div>
        <label for="contactno" class="block text-sm font-semibold text-gray-700"
          >Contact Number:</label
        >
        <input
          type="text"
          id="contactno"
          [(ngModel)]="nurse.contactno"
          name="contactno"
          disabled
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        />
      </div>

      <div>
        <label for="address" class="block text-sm font-semibold text-gray-700"
          >Address:</label
        >
        <input
          type="text"
          id="address"
          [(ngModel)]="nurse.address"
          name="address"
          disabled
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        />
      </div>

      <div>
        <label
          for="medicalHistory"
          class="block text-sm font-semibold text-gray-700"
          >Medical History:</label
        >
        <textarea
          id="medicalHistory"
          [(ngModel)]="nurse.medicalHistory"
          name="medicalHistory"
          disabled
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-blue-300"
        ></textarea>
      </div>
    </form>
  </div>

  <button
    (click)="onBack()"
    class="mt-4 px-4 py-2 bg-gray-700 text-white rounded-md hover:bg-gray-800 transition duration-200"
  >
    Back to Nurse List
  </button>
</div>
