<h2>Edit Doctor Details</h2>

<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" required />
  </div>

  <div>
    <label for="contactno">Contact Number:</label>
    <input type="text" id="contactno" formControlName="contactno" required />
  </div>

  <div>
    <label for="address">Address:</label>
    <input type="text" id="address" formControlName="address" />
  </div>

  <div>
    <label for="medicalHistory">Medical History:</label>
    <textarea id="medicalHistory" formControlName="medicalHistory"></textarea>
  </div>

  <div>
    <label for="doctorImg">Doctor Image:</label>
    <input type="file" id="doctorImg" (change)="onImageSelected($event)" />
    <img
      *ngIf="doctorForm.get('doctorImg')?.value"
      [src]="doctorForm.get('doctorImg')?.value"
      alt="Doctor Image"
    />
  </div>

  <button type="submit" [disabled]="doctorForm.invalid">Save Changes</button>
</form>

<button class="cancel" (click)="onCancel()">Cancel</button>
